[2016-10-03 18:12] michimau opened #1 "Dark theme support"
Dark theme is not working.

[2016-10-03 18:13] michimau opened #2 "Loading/rendering time"
Performances look to be acceptable only when few nodes are loaded.
The user experience is suffering, as it is not clear whether the graph is working or not.

[2016-10-03 18:14] michimau opened #3 "Tooltip not working for the second node"
only the first nodes have tooltip enabled.

[2016-10-05 16:59] dlumbrer commented on #2
Hi michimau,

The problem of the loading time is in great measure by vis.js.
The next improve is a "waiting" message that shows up when the network is loading. It's been uploaded in a few days.

Thanks for write.

[2016-10-05 17:00] dlumbrer commented on #1
Thanks, I will study it and solve it in the near future.

[2016-10-05 17:02] dlumbrer commented on #3
Hi michimau

I am going to add an option that can do this like the first nodes

Thanks

[2016-10-06 12:48] #2 closed

[2016-10-07 11:22] juerkan opened #4 "warning] Plugin "network_vis" was disabled because it expected Kibana version "1.0.0", and found "5.0.0-beta1"
Hi
We want to install your great plugin   “network_vis” (Ubuntu box with kibana 5.0beta1)

We go strait with your install instruction:
cd KIBANA_HOME/installedPlugins
git clone https://github.com/dlumbrer/kbn_network.git network_vis
cd network_vis
npm install

The following warning comes up when we start kibana:

log   [11:20:24.229] [warning] Plugin "network_vis" was disabled because it expected

[2016-10-07 11:24] dlumbrer commented on #4
I'm going to change the version of the plugin, thanks.

[2016-10-07 11:25] #4 closed

[2016-10-19 15:27] alain2208 opened #5 "which kibana 5 version"
Hi i'm not an npm expert i tried to do what you wrote and got this
on which version did the software expect to be instaled?

npm ERR! install Couldn't read dependencies
npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js" "install"
npm ERR! node v4.4.5
npm ERR! npm  v2.15.5

npm ERR! Invalid version: "kiban

[2016-10-19 15:36] dlumbrer commented on #5
Hi alain2208

Rigth now I commited the code that fix this problem.

In the package.json of the plugin, in the "version" tag you need to put your Kibana version to fix the "npm install".

[2016-10-21 15:11] alain2208 commented on #5
thks
i recloned your new version and no more the problem and don't need to play with the package.json

[2016-10-21 19:45] #5 closed

[2016-11-21 17:08] lawton27 opened #6 "Multiple Visualisations on One Dashboard"
When multiple network visualisations are added to the same Kibana dashboard, only one functions.

Cheers,
Jack :)

[2016-12-15 16:33] cloudtracer opened #7 "Only show nodes with relations?"
When using the relation option, it would be nice if you could only display nodes that have relations.

[2016-12-16 13:37] dlumbrer commented on #7
Thanks for write. This could be a great option. I will add it in the future.

[2016-12-20 20:01] dlumbrer commented on #6
Hi Jack

Im ready developing this function, sorry for the late.

Thanks for writing

David

[2016-12-22 08:34] yhgcn opened #8 "How to reduce the distance of any unrelated clusters"
The distance of any clusters is too long, how to use options to shorten the distance of any clusters.

![3](https://cloud.githubusercontent.com/assets/18245164/21419590/89dc80aa-c863-11e6-99e2-49a149dc3469.png)

[2016-12-22 11:44] dlumbrer commented on #8
Now, its not possible to short this distance, sorry.

I want to add more options to change the physics as you like, you will notified when this functionality will be developed.

Thanks,

David

[2016-12-26 06:26] afanger opened #9 "why no detail guide for "relation ""
There's no detail information for 'Relation' in the user guide.
the graph for Node & Relation is quite different from that for the two type of nodes.
what 's the meaning ?I can't  see the text araround the nodes clearly in the figures.
Would you plz put an example dataset file ,maybe it helps to make sense.

By the way , is there any way using this plugin to show the  co-occurrence network of  pap

[2016-12-30 12:08] yhgcn commented on #8
Could you make gravitationalConstant and springConstant of network_vis_controller.js to adjustable variables in the "view options"?Choose a different size of gravitationalConstant and springConstant, style is also different.
![aaa](https://cloud.githubusercontent.com/assets/18245164/21564728/9481808c-cecb-11e6-8917-92089be5bf30.png)

[2016-12-30 12:17] yhgcn opened #10 "Double-click the node drilling down into a new figure"
Double-click the node drilling down into a new node relevant figure. Drill down function like pie charts.

[2016-12-30 12:47] dlumbrer commented on #9
"Relation" is used for make the relation of the nodes. Is detailed the use in the User Guide, with examples to build differents networks. In other words, you can build 2 types of networks: "Node & Node" with 2 types of nodes and "Node & Relation" with 1 type of nodes but the relation is defined by "Relation" aggregation.

You can build networks like: "one type of node are the projects and the othe

[2016-12-30 12:49] dlumbrer commented on #8
Yeah, that's what I thought. Now im busy, but that is the next functionality that i will add.

Thanks.

[2017-01-03 07:59] afanger commented on #9
I get it，thank you ！

[2017-01-03 07:59] #9 closed

[2017-01-30 12:16] cgiraldo commented on #6
Hi David,
I am hitting the same issue.
Any estimate time to complete?

BTW, nice work!
Carlos

[2017-01-30 21:33] dlumbrer commented on #6
Hi @cgiraldo ,

Im very busy now, but this is the next improve that will be added.

I'm sorry for the delay, I will close this issue when the funcionality will be added.

Thanks for writing and the feedback!

David

[2017-02-01 12:00] dlumbrer commented on #7
The option "Don't show nodes below this value" allows to hide nodes when the metric "Node Size" dont surpass the value.

[2017-02-01 12:00] #7 closed

[2017-02-01 12:34] #8 closed

[2017-02-01 16:45] poibr01 opened #12 "Request to add repository and license fields to package.json"
While not earth shattering by any means, newer versions of node throw WARN's up for git repo and licensing info missing in the package.json file.  Would like to have the following added to the package.json to avoid these two messages during the npm install.

```npm WARN network_vis@5.0.0-rc1 No repository field.```
```npm WARN network_vis@5.0.0-rc1 No license field.```

[2017-02-01 16:50] dlumbrer commented on #12
Thats rigth!, I'm going to add it :+1:

[2017-02-01 16:53] #12 closed

[2017-02-03 15:51] AdrianP- commented on #10
This will be a awesome feature.
Congratulations for your amazing work @dlumbrer
From Spain too ;)

[2017-02-04 09:06] dlumbrer commented on #10
Thanks for the clarification @yhgcn.

You are rigth @AdrianP- , the implementation of this is very interesant, i think that is not very difficult but now i dont have too much time to do it.

You will be notificated when it have been done it.

Thanks a lot for write and for the feedback. This encourages me to continue developing improvements to the plugin.

Regards,

David

[2017-02-05 05:11] yhgcn commented on #10
The kbn_network plugin is the most intuitive, practical and magical kibana plugin. But it does not support to show the diagram that is composed of  three types of node.  With the help of other visualization in the dashboard can show a third type of node information.
For example: in the diagram of source IP to access the target IP can't show the destination port.  In the dashboard is made up of the

[2017-02-16 15:29] #6 closed

[2017-02-17 19:00] st3rling opened #14 "Unable to see this plugin in Kibana 5.2"
Hello,
Trying to install your plugin on Kibana 5.2:

[code]

After kibana restart, the plugin doesn't show up under Visualize

[2017-02-17 19:06] st3rling commented on #14
I resolved the WARN errors by copying package.json file from issue #12.
Then the npm install didn't throw any errors.
But still cannot see it in 5.2

[2017-02-17 21:28] st3rling commented on #14
Sorry for the false alarm. Changed version to 5.2.0 in package.json and now I can see it under Visualize.

[2017-02-17 21:28] #14 closed

[2017-03-03 10:10] thomas-neale commented on #1
Hi, any progress on this? Setting the background colour to black makes the labels next to the dots unreadable. Thanks.

[2017-03-03 11:56] dlumbrer commented on #1
I'll add a way to change the color of the labels.

Im very busy now, I hope that it will be available soon.

Thanks.

[2017-03-20 13:51] AmrinderRai opened #15 "Error when trying to install release"
Hi,

I am having issues installing release 4.x for my Kibana 4.6.4

I am getting the following modules are not found:

- 'vis' ,
- 'randomcolor',
- 'css-element-queries/src/ElementQueries',
- 'css-element-queries-src/src/ResizeSensor'

in kibana/installedPlugins/kbn_network/public.

[2017-03-20 15:20] dlumbrer commented on #15
Hi, follow these steps:

Try to change the name of the folder "kbn_network" to "network_vis"

After go to "installedPlugins/network_vis" and do "npm install"

Now it should work

[2017-03-21 03:05] RaeldZues commented on #10
Current things I would be willing to donate some funds for to like a paypal or something:

Add additional node capabilities (more than 2, personally, id like to see at a minimum 3)
Add capabilities to double click the items or right click and filter based on the clicks
Add a hover over that allows you to show a field or two as a property or a popup for properties.
Add the ability to graph hierarch

[2017-03-21 16:07] AmrinderRai commented on #15
Hi, thanks for the response.

I am still having the same issue. I'm not able to use NPM on the system I'm working on, but having been using the following linux command (as in elastic docs):
`sudo bin/kibana plugin --install network_vis --url file:///network_vis.tar.gz`

Much appreciate any responses. Thanks

[2017-03-21 16:26] dlumbrer commented on #15
To build a zip with the release, you need to use npm to install the dependencies:

First go to

[code]

Now you have on "kibana/" a zip with the plugin and all the dependencies. After, decompress the zip on your "$KIBANA_HOME/installedPlugins/"

[2017-03-21 16:36] dlumbrer commented on #10
Hi,

It's very difficult to add more levels because Kibana use agreggations searches of ElasticSearch. I mean, if I add more levels, there will be buckets with sub-buckets, and these sub-buckets with more sub-buckets, etc.

The response retrieved of ElasticSearch will not make much sense and the time of "build" the data will be increased.

As I've said before, I'm thinking about it. Thank you very

[2017-03-22 11:30] AmrinderRai commented on #15
That helped. Thank you so much!

[2017-03-22 11:31] #15 closed

[2017-04-03 19:41] TheReal1604 opened #16 "Better performance"
Hi,

big thanks for this really awesome plugin!

Do you see any chance to speed up the render process with many nodes on the sheet? Like Top 50 Nodes which individually can also have 50 nodes.. This lags heavy in the browser - mostly because its jailed to one cpu core i think.

Maybe you already have some hints or practices to speed things up for big visualisations?

Edit: Some more info regarding

[2017-04-06 09:28] dlumbrer commented on #16
Hi @TheReal1604,

There are two field to change in the "Options" tab that are very interesting when you want to build huge networks:

- Gravitational constant: Gravity attracts. We like repulsion. So the value is negative. If you want the repulsion to be stronger, decrease the value

- Spring constant: This is how 'sturdy' the springs are. Higher values mean stronger springs.

Try to "play" with t

[2017-04-06 09:34] TheReal1604 commented on #16
Thanks for your answer, but how effects this settings the rendering performance of the graph? :-)

[2017-04-06 09:42] dlumbrer commented on #16
For example: If you decrease the gravitation constant enough for the nodes to be wide apart, the process of rendering the vis.js library is smaller, because it does not have to distribute all the nodes in a small space without being disturbed.

Same thing to change the spring constant.

[2017-04-06 09:43] TheReal1604 commented on #16
Ah, thanks for the description! I try it.

[2017-04-06 09:45] dlumbrer commented on #16
If you have a problem, send me screenshots and I can help you better. :-)

[2017-04-06 09:48] #16 closed

[2017-04-18 14:33] DigiAngel opened #17 "Not working..how do you start?"
I've installed this, but how do I get to it?  Create a new visualization?  Which kind?  I don't see a "Node" anywhere that I've tried.  I restarted Kibana after install, but no success.

[2017-04-18 17:46] dlumbrer commented on #17
If you follow the installation steps you must see in the visualizations list the item of this plugin.

Can you send the logs when you install the plugin, the logs when you init Kibana and tell me what version of Kibana are you working?

Also, check on package.json that the "version" tag matches with your Kibana version.

Thanks

[2017-04-18 17:58] DigiAngel commented on #17
Ok cool thank you.  I'm on the latest 5.3.0 of Kibana.  I don't see anything in the logs :(

[2017-04-18 18:41] dlumbrer commented on #17
Try to change on package.json the "version" tag to "5.3.0"

[2017-04-18 19:28] DigiAngel commented on #17
Thanks....unfortunately that maxes the CPU and kibana never fully initializes as I get a page not found.

[2017-04-18 20:02] #17 closed

[2017-04-24 20:47] DigiAngel commented on #17
Closing the loop on this...indeed setting version to 5.3.0 fixed this up..thank you.

[2017-05-05 09:08] purplesrl commented on #3
any news on this?

[2017-05-10 08:48] dlumbrer commented on #3
I'm very busy now, sorry

[2017-05-14 02:34] luigiberrettini opened #19 "Kibana 5.4.0 support"
Hi, I changed the package.json to version 5.4.0 but Kibana freezes on start: after npm install I copied everything to the official Docker container and the run it, but logs say Kibana is not starting.

[2017-05-14 02:58] luigiberrettini commented on #19
Same problem with 5.3.2 and 5.3.0 😭

[2017-05-15 22:56] dlumbrer commented on #19
I will take a look in the next days, but I'm sure that works in Kibana 5.3.0

Thanks!

[2017-05-17 10:24] dlumbrer commented on #19
Hi @luigiberrettini. I had tested the plugin in Kibana 5.4.0 and its works.

![captura de pantalla de 2017-05-17 12-21-57](https://cloud.githubusercontent.com/assets/9249232/26149726/af9a9f7e-3afb-11e7-95a8-b5021ea99c15.png)

Please, change the tag "version" in package.json of the plugin for "5.4.0" for work in Kibana 5.4.0. I think this is the problem.

Reopen the issue if it doesn't work

[2017-05-17 10:25] #19 closed

[2017-05-17 17:54] luigiberrettini commented on #19
You are right, it works, but Kibana takes 25 minutes instead of 3 to get up and running

[2017-05-17 18:40] dlumbrer commented on #19
This is why you are adding new code into Kibana, Kibana need this time to check everithing is OK and the plugin is completly compatible.

[2017-05-25 20:28] svdasein opened #20 "Zooming?"
kbn_network is *awesome* - thanks so much for all the hard work!  Question: is there some way to zoom in/out on a graph, or do you have any plans to add that functionality?

[2017-05-26 07:11] dlumbrer commented on #20
Thanks!!

The zooming works using the Mouse wheel, Do you test it?

[2017-05-26 22:06] svdasein commented on #20
I just found it - yes. This thing is awesome.

[2017-05-26 22:06] #20 closed

[2017-06-04 06:41] keeyonghan opened #21 "Underlying document schema"
I couldn't understand the underlying document schema for both node-node and node-relation. Are there any examples for these?

[2017-06-04 10:40] dlumbrer commented on #21
Do yo see the User guide?

https://github.com/dlumbrer/kbn_network/blob/master/USER_GUIDE.md

I hope that it can help you

[2017-06-04 19:43] keeyonghan commented on #21
@dlumbrer I think node-to-node was easier to understand but not so sure the other (node-to-relation). My current document schema is like this (source and target are the same type of nodes):

 - source node
 - target node
 - strength

In this case, node-to-node is the way to go? If not or if want to go for node-to-relation, how should I change the document schema? Thanks for your great work BTW!

[2017-06-05 17:46] dlumbrer commented on #21
Node-Relation will show a network with __only one type of nodes__ (instead Node-Node that show 2 types of nodes):
1. Select Node to select the field that will be show in the nodes
2. Select Relation to select the field that build the relationship between nodes.

P.e: You can build nodes that are "People" and build de relation if they work in the same company

[2017-06-06 22:46] #21 closed

[2017-06-19 08:22] Dim8672 opened #22 "Disappear in Dashboard"
Hello, I have installed your plugin in my kibana environnment but I have a little issue.

The plugin works well but when I'm adding it in a Dashboard, the graph disappear sometimes and I always  have to click on the graph to make it reappear.

Do you know why this is happening ?

Thanks in advance

[2017-06-21 07:42] dlumbrer commented on #22
Try to refresh Kibana when you add a Network visualization

[2017-06-22 00:30] johnpickett opened #23 "Kibana not loading plugin"
Running Kibana 5.4.2, followed install instructions:

cd KIBANA_HOME/plugins
git clone https://github.com/dlumbrer/kbn_network.git network_vis
cd network_vis
npm install

When restarting Kibana:

{"type":"log","@timestamp":"2017-06-22T00:12:15Z","tags":["warning"],"pid":9191,"message":"Plugin \"network_vis\" was disabled because it expected Kibana version \"5.4.0\", and found \"5.4.2\"."}

So I ch

[2017-06-22 00:57] dlumbrer commented on #23
Change the version tag of network_vis/package.json to "5.4.2" and it will work

[2017-06-22 05:08] shubhamverma27 opened #24 "Http Header Authetication"
Does this Plugin work with ReadOnlyREST/SearchGuard/XPack-Security which require username password to access elasticsearch indices..?
If yes, Then How ?

[2017-06-23 07:43] dlumbrer commented on #24
Hi @shubhamverma27

This is only a "visualization" plugin of Kibana, Kibana is responsible of that security.

[2017-06-23 07:43] #24 closed

[2017-06-23 07:45] dlumbrer commented on #23
Hi @johnpickett

Do you see the network_vis in Visualize tab?

[2017-06-30 06:18] smlbiobot opened #25 "Feature request: SVG / PNG output"
First of all, may I just say what an amazing plugin it is? Kudos!

I would really like to save my network as an SVG for further processing / including my reports though. Would you consider adding it?

[2017-07-01 13:32] smlbiobot opened #26 "Feature request: Defineable color node settings"
I have noticed that when I use the Node color settings, that every time I refresh, the color changes. Is it possible to set it? If not, would you consider allowing that? It can either be a predefined list like these presets in seaborn: https://seaborn.pydata.org/generated/seaborn.color_palette.html#seaborn.color_palette

Or just use gradient stops…

[2017-07-03 08:24] dlumbrer commented on #25
Hi @smlbiobot,

Sorry for the late. That is cool!, I will considered it to add in the near future :+1:

[2017-07-03 08:26] dlumbrer commented on #26
Yes @smlbiobot, when I improve the "color legend" I will do it the option to hold the colors

[2017-07-03 10:04] #22 closed

[2017-07-03 10:05] #23 closed

[2017-07-03 12:52] smlbiobot opened #27 "Feature request: Node scaling"
Since you seem to care about my feature requests, I shall add more here. I have a few related ones so I guess I will add them all here:

1.  **Second node scaling.** I have noticed that the second node never scales. If I selected dot for the first node as well as the second node, only the first node gets scaled. Not sure if this is a bug or is something that you need to add.
2. **Denote scaleable

[2017-07-03 12:59] dlumbrer commented on #27
Cool!, Thanks @smlbiobot :-)

[2017-07-11 01:20] tatdatpham opened #28 "Plugin is not compliant with kibana 5.5"
I installed ur plugin in kibana 5.5 and kibana doesn't working. I found some update for custome plugin in here
[https://github.com/elastic/kibana/issues/12707#issuecomment-314216338](https://github.com/elastic/kibana/issues/12707#issuecomment-314216338)

[2017-07-11 07:03] dlumbrer commented on #28
I will take a look and solve this problem, thanks!

[2017-07-11 08:43] dlumbrer commented on #28
@tatdatpham

The plugin is now compatible with Kibana 5.5.0, you have it in the "5.5.x" branch

[2017-07-11 08:43] #28 closed

[2017-07-11 09:03] tatdatpham commented on #28
Thanks for your update. It's worked !

[2017-07-14 13:12] fr0gs opened #30 "Docker install"
Hello,

Have you tried to install this plugin in a Docker environment? I have tried several ways but I cannot seem to make it work.

[code]

Last line just changes the package.json form **5.4.0** to **5.5.0** as you advised, but I cannot seem to find the plugin in visualizations anywhere. I have tried with other plugins and they seem to be properly installed.
Is is possible that you provide a way

[2017-07-14 20:44] securemindorg opened #31 "loading kbn_network in kibana 4.5"
I'm trying to load the plugin into kibana 4.5, the install goes smoothly, I see the plugin in the kibana/installedPlugins/network_vis directory, but after reloading the kibana service I don't see the plugin listed in the visualizations list

[2017-07-17 07:43] dlumbrer commented on #30
If you are using Kibana 5.5.0 you need to install my plugin from this release:

https://github.com/dlumbrer/kbn_network/releases/tag/5.5.X

[2017-07-17 07:43] #30 closed

[2017-07-17 07:43] dlumbrer commented on #31
Hi @securemindorg ,

Can you send me the logs?

Thx

[2017-07-20 16:53] hijakk opened #32 "5.5.0 deployment"
After checking out the kbn_network plugin, changing package.json to point to Kibana 5.5.0, removing the /images directory and running NPM build, everything seems successful in the build process. When I start Kibana, I get the following error coming back in the browser, but nothing the kibana log files:
[code]
Is kbn_network building properly for 5.5.0?

[2017-07-20 17:20] hijakk commented on #32
Scratch that :) I didn't see the 5.5 prepackaged build! That one is working fine.

[2017-07-20 17:20] #32 closed

[2017-07-24 08:35] #31 closed

[2017-08-21 03:32] chenyg0911 opened #34 "kibana5.5.0 install plugin failed."
Download zip file for 5.5.X.
but installation failed.
below is error message
bin/kibana-plugin install file:///esdemo-media/kibana-5.5.0-linux-x86_64/network_vis.zip
Attempting to transfer from file:///esdemo-media/kibana-5.5.0-linux-x86_64/network_vis.zip
Transferring 6607531 bytes....................
Transfer complete
Retrieving metadata from plugin archive
Plugin installation was unsuccessful d

[2017-08-22 08:52] cyberdak opened #35 "create network failed"
![network_issue.png](https://i.loli.net/2017/08/22/599bf0e7a54f1.png)
this is console log .

version : kibana 5.4.3

[2017-08-23 10:10] dlumbrer commented on #34
Can you download directly from the branch 5.5.x and try again?

The ZIP of releases has an error, i will delete it.

Thx

[2017-08-23 10:18] dlumbrer commented on #35
Im on holidays, I will take a look next week.

Thx

[2017-08-24 02:35] chenyg0911 commented on #34
Did u mean git clone the 5.5.x branch? I will try it. Thanks!

2017-08-23 18:10 GMT+08:00 David Moreno Lumbreras <notifications@github.com>
:

[2017-08-24 03:57] chenyg0911 commented on #34
git clone the 5.5.x branch. It worked.Great！

2017-08-24 10:35 GMT+08:00 YongGuang Chen <yongguang.chen@gmail.com>:

[2017-08-24 03:57] #34 closed

[2017-08-28 09:47] dlumbrer commented on #35
I can't reproduce that situation,

@cyberdak, What type of field are userip and userid?

[2017-09-15 23:22] rcsmota opened #36 "What to do?"
This should be a stupid question, but after installation how can i make a new visualization graph?
It's supposed show a new visualization type on visualizer tab, add new visualizer?

![image](https://user-images.githubusercontent.com/31240306/30506509-62467846-9a74-11e7-9c48-4778817acfb7.png)

I follow all steps and the installation looks fine to me.

![image](https://user-images.githubusercontent

[2017-09-16 11:08] robcowart commented on #36
I have written an article on Linkedin that explains how to use kbn_network with data from ElastiFlow. Hopefully this will help.

https://www.linkedin.com/pulse/visualize-network-traffic-connections-elastiflow-kbn-robert-cowart/

[2017-09-16 11:19] dlumbrer commented on #36
Wow @robcowart! An excellent article!! 👍

@rcsmota , are you checked that the version of package.json of the plugin is the same that your kibana?

Thanks!!

[2017-09-18 10:18] rcsmota commented on #36
@robcowart  this work perfectly, you did a really nice work in your article. Thanks to you I have kbn_network plugin up an running. Thanks.

@dlumbrer I did miss three steps on last installation explained from rob coward,git checkout 5.5.x, change version of package.json and run kibana at the end.
I know it can be a "natural" process but to me (a newbie) it was crucial.

Thanks for both, time to l

[2017-09-19 06:26] bluefangs opened #37 "Loading message does not go away"
Hi @dlumbrer / @robcowart

I was checkin out the tutorial by Rob from [here](https://www.linkedin.com/pulse/visualize-network-traffic-connections-elastiflow-kbn-robert-cowart?trk=mp-reader-card). I got everything working as portrayed in the tutorial, however, I noticed that there is a message that says "loading network..." in the top right of the canvas that doesn't seem to go away.

I noticed tha

[2017-09-19 10:38] dlumbrer commented on #37
hi @bluefangs,

there was a bug that I solved just now.

Sorry!

[2017-09-19 10:38] #37 closed

[2017-09-19 10:42] #36 closed

[2017-09-27 14:10] ErikvdVen opened #38 "Why not Graph from X-pack"
Hello dlumbrer,

Can you tell me a bit more about what made you decide to write your own plugin, instead of using Graph from X-pack, which has almost the same features I suppose? And I mean, reasons besides the fact X-pack is a paid plugin of course ;)

[2017-09-27 15:37] TRISAF opened #39 "Loading message always is diplayed on 5.6.1"
HI @dlumbrer ,
the plugin works fine in 5.6.1 kibana version, except for the up-right message that says:
Loading network ...
This message is diplayed also after the network was loaded.
Abny idea to fix it?
Many thanks
Filippo
![immagine](https://user-images.githubusercontent.com/22656565/30922822-8d18df48-a3aa-11e7-847c-cbe3af613b70.png)

[2017-09-27 15:43] robcowart commented on #39
Make sure you are using the 5.5.x branch. You will need to edit package.json, changing the kibana version to 5.6.1. The issue you are seeing was fixed about a week ago on the 5.5.x branch.

[2017-09-27 16:32] dlumbrer commented on #39
as @robcowart said :+1: , I fixed this error in the latest version.

Please, download the latest version (clone directly from 5.5.x) @TRISAF

[2017-09-28 08:32] TRISAF commented on #39
Hi @dlumbrer ,
i follow your suggestion, but the loading banner still remain.
![immagine](https://user-images.githubusercontent.com/22656565/30956663-4e5d5e8a-a438-11e7-9e1e-1fa26c879b1c.png)

Any deeper suggestion for debugging this anomaly?

Many thanks

Filippo

[2017-09-28 09:48] dlumbrer commented on #39
It seems that is loading the older version that you had installed before.

I suggest you to delete content the folder KIBANA_HOME/optimize/bundles and launch kibana again.

Thx

[2017-10-02 11:31] dlumbrer commented on #38
Hi @ErikvdVen ,

The question is "Why not?". This plugin was my degree thesis, I think that Open Source is very important in this kind of apps (Kibana). I know that exists X-pack, but for me, is more important the philosophy of Open Source.

When I started developing this plugin, there only exists Kibana 4 and I didn't know anything about Graph (from X-Pack), I've never thought that this plugin co

[2017-10-02 11:31] #38 closed

[2017-10-02 12:59] TRISAF commented on #39
I have deleted the optimize for sure.
I feel i've done everthing correctly, but...
Can you send me a link to be sure that i install the version you suggest?

[2017-10-02 19:32] robcowart commented on #39
@TRISAF try the instructions here... https://www.linkedin.com/pulse/visualize-network-traffic-connections-elastiflow-kbn-robert-cowart

Delete KIBANA_HOME/optimize/bundles first.

Edit package.json for version 5.6.1 (which you are using) instead of version 5.5.2 which is described in the instuctions.

This worked fine for me.

[2017-10-02 19:47] robcowart commented on #38
@ErikvdVen I would add that...
1. X-Pack Graph is a tool to discover and explore indirect relationships between entities in a dataset. kbn_network displays explicit relationships.
2. X-Pack Graph cannot be added to a dashboard, but kbn_network can.
3. kbn_network is limited to two node types in a single graph. X-Pack graphs allows many more (not sure if there is a hard limit)

In my opinion both p

[2017-10-03 22:37] pedrolarva opened #40 "Uncaught TypeError: __webpack_require__(...).register"
Hi!

very good this project.. I try to use in kibana 5.6.2, becase i have this version in production.

But when i try to install this plugin, a get this error:

Uncaught TypeError: __webpack_require__(...).register is not a function (https://elk.softbox.com.br/bundles/kibana.bundle.js?v=15543:334)

Any sugestions?

![screenshot from 2017-10-03 19-37-11](https://user-images.githubusercontent.com/15

[2017-10-07 00:16] pkmital opened #41 "Order nodes by score?"
Hi,
Thanks for a great plugin!  I'm just trying to learn how to use it still and can't seem to find a way to order my nodes based on the elasticsearch score?  For instance if I search for "javascript" in my document collection, I can't seem to find a good way to avoid sorting the results by their titles alphabetically?

![screen shot 2017-10-06 at 5 14 35 pm](https://user-images.githubusercontent.

[2017-10-09 10:39] dlumbrer commented on #41
Hi @pkmital,

You can order the nodes in the tab "Order by" inside the "Node" bucket.

[2017-10-09 10:40] dlumbrer commented on #40
Download the latest version, the 5.5.x branch and change the version of the package.json to "5.6.2"

[2017-10-09 10:40] #40 closed

[2017-10-11 20:08] pedrolarva commented on #40
Showw!!!

Its realy show!!!

[2017-10-12 12:55] ntim commented on #40
@dlumbrer changed the packaged version to 5.6.2 but the error still persists.

[2017-10-12 15:43] robcowart commented on #40
Follow the instructions here...

https://www.linkedin.com/pulse/visualize-network-traffic-connections-elastiflow-kbn-robert-cowart/

Obviously set package.json to your version of Kibana, as long as you are using 5.5.x or 5.6.x

Make sure you delete KIBANA_HOME/optimize/bundles before you restart Kibana

[2017-10-26 16:03] maziyarpanahi opened #42 "This plugin changes the native Kibana tooltip/position"
Hi,

Unfortunately, my installation of this plugin in the latest version of Kibana (5.6.2 and 5.6.3) changed the style and position of tooltips for the entire visualisations/dashboard.

I reported this issue initially in Kibana repo, but it turns out it is kbn_network:
https://github.com/elastic/kibana/issues/14589

Many thanks for your plugin i really enjoying it, I thought it might be helpful to

[2017-10-27 08:10] dlumbrer commented on #42
Hi @maziyarpanahi ,

You are right, the problem is that the names of the tooltips css are the same.
I will take a look and fix it!

Thx

[2017-10-27 11:59] dlumbrer commented on #42
Solved!

[2017-10-27 11:59] #42 closed

[2017-10-27 13:36] maziyarpanahi commented on #42
Thanks mate! I really appreciate your work 👍

[2017-10-30 16:27] HammerZ3it opened #43 "Feature request : Be able to graph relation analysis"
Hi @dlumbrer,
First of all thank you for sharing such a great plugin.

It would be really awsome if it was possible to have the possibility to add a relation to two "Node" bucket type.
Let me explain it "clearly" we wish to graph flows between hosts regarding the port number.
What we have :
![what_we_have](https://user-images.githubusercontent.com/12964578/32182633-71effbd2-bd97-11e7-9488-010c7749

[2017-10-31 11:47] equinoxefr commented on #43
In data table we can use 3 buckets to show each relation between 2 ip

![image](https://user-images.githubusercontent.com/1012401/32222461-a3fb34dc-be39-11e7-95c0-248fa8d76cdd.png)

[2017-11-07 21:30] TheReal1604 opened #44 "Crashing with kibana version 5.6.3"
with this error: Uncaught TypeError: __webpack_require__(...).register is not a function(http://localhost:5601/bundles/kibana.bundle.js?v=15554:335)

Maybe you got an idea?

[2017-11-08 08:56] dlumbrer commented on #44
Did you downloaded the release for 5.6X versions?

Thx

[2017-11-08 09:15] TheReal1604 commented on #44
I cloned the master repo to my system.

[2017-11-08 09:18] dlumbrer commented on #44
So, this is the problem.

Clone the branch 5.5.X instead of master, this should work.

[2017-11-15 21:50] czam01 opened #45 "Error installing plugin for Kibana 5.6.3"
Currently we are working with kibana-5.6.3 i downloaded the plugin form the branch for 5.X and the follow all the steps, the service starts ok but when we are goint to add visualization we could not see the network option. It does not appear in the visualization menu.

The folder is install in /usr/share/kibana/plugins

If we see the logs it appear
FATAL Error: Config schema already has key: netwo

[2017-11-20 09:07] ranayayas opened #46 "network_vis inside docker-kibana"
Hi,

I install as guided. My kibana is inside docker
cd KIBANA_HOME/plugins
git clone https://github.com/dlumbrer/kbn_network.git network_vis
cd network_vis
rm -rf images/
npm install

change the version to the Kibana (5.6.1).

However I cannot see the 'network' visualisation menu in Kibana.
log   [09:09:33.979] [warning] Plugin "network_vis" was disabled because it expected Kibana version "5.6.1"

[2017-11-20 09:11] ranayayas commented on #46
When I tried to run Kibana manually inside docker:
log   [09:09:33.979] [warning] Plugin "network_vis" was disabled because it expected Kibana version "5.6.1", and found "5.5.2".

[2017-11-20 09:40] dlumbrer commented on #45
You have to change the tag "version" in the package.json to "5.6.3".

[2017-11-20 09:41] dlumbrer commented on #46
Your Kibana's version is 5.5.2, so you have to change the version on package.json to 5.6.3 instead.

[2017-11-21 03:20] czam01 commented on #45
Thank You, It works in this way:

sudo git clone https://github.com/dlumbrer/kbn_network.git -b 5.5.x /usr/share/kibana/plugins/network_vis/

Then edit package.json  and let it:

"name": "network_vis",
  "version": "5.6.3",

Restart
ubuntu@:/usr/share/kibana/plugins/network_vis$ sudo -i service kibana stop
ubuntu@:/usr/share/kibana/plugins/network_vis$ sudo -i service elasticsearch stop
ubuntu@:/u

[2017-11-21 03:20] #45 closed

[2017-11-28 08:24] tatdatpham opened #47 "plan for kibana 6.x"
Thank for good plugin!
Do you have plan for kibana 6.x. Thanks!

[2017-11-28 08:27] dlumbrer commented on #47
Thanks @tatdatpham.

Of course, Im working to migrate it to 6.X!! I hope in the next days have a release

[2017-11-30 13:33] nadz-goldman commented on #47
@dlumbrer , thanks for this plugin and your work on it
Everybody hopes that you give us new version for Kibana 6x =)

[2017-11-30 15:10] prKrumm commented on #43
HI @dlumbrer ,
I am also interested in this enhancement.
We would like to draw a graph/network of all the connections between machines. The data model could look like the following:
[{
	"Pfeil": "2to3",
	"auftragid": "2",
	"produktid": "2",
	"Schritte": [{
		"pos": 2,
		"maschineid": "3"
	}, {
		"pos": 1,
		"maschineid": "2"

	}]
},{
	"Pfeil": "3to2",
	"auftragid": "2",
	"produktid": "2",
	"Schrit

[2017-12-07 14:44] phoerious opened #48 "Support other bucketing aggregations"
It would be amazing if this plugin supported other bucketing aggregations such as Significant Terms for a filtered expression.
Right now I can only use a Terms aggregation, which is only really useful when I plan to plot all documents (of a certain type) in my collection.

[2017-12-09 20:23] purplesrl commented on #47
+1

[2017-12-10 21:39] geertn444 commented on #47
+1

[2017-12-11 22:40] omarix commented on #47
+1

[2017-12-11 22:47] omarix commented on #43
+1

[2017-12-13 13:04] ErikvdVen commented on #47
Any updates on how your progress goes on migrating the plugin to 6.x? Cause so far I was able to migrate the plugin, except for the controller... Still working on that part. I'm able to load the plugin and create a visualization, but I'm not able to actually render the visualisation, because the console shows errors about certain parts of objects are undefined. E.g. ` var buckets = resp.aggregatio

[2017-12-13 13:34] dlumbrer commented on #47
I'm working on these @ErikvdVen , exactly in the 6-dev branch!

I have problems with the structure of the data retrieved of ES 6, it is completly different... I have to parse all the data again!

**Update**: Integrated in the menu

![network_vis_6](https://user-images.githubusercontent.com/9249232/33941364-a7162cda-e012-11e7-8c58-b4f81988c6ac.png)

[2017-12-13 13:51] ErikvdVen commented on #47
Thanks for the update, after forking your repo again I did notice the 6-dev branch indeed (after opening it in GitKraken) :+1: Looking forward to the release :)

[2017-12-13 13:52] dlumbrer commented on #47
Hope soon!! ;)

[2017-12-13 14:11] dlumbrer commented on #47
**Update**:

Parsing for the Node-Node type is ready!.

Now it's time to Node-Relation and that's it...

[2017-12-13 14:23] purplesrl commented on #47
Great news :)

[2017-12-14 12:28] dlumbrer commented on #47
Finally I finished the migration, and here is the new release for Kibana 6!

https://github.com/dlumbrer/kbn_network/releases/tag/6.0.X

[2017-12-14 12:29] #47 closed

[2017-12-16 09:43] NeonSludge opened #49 "Incorrect labels for second-level nodes if "Edge Size" metric is selected"
Hi.
I've noticed an issue with node labels after updating this plugin from the 6-dev branch. I'm currently running Kibana 6.1.0.

Steps to reproduce:
1. Create a "node-node" visualization. The network [is displayed](https://i.imgur.com/ecgNQ2C.png) without any issues.
2. Now select the "Edge Size" metric and refresh the visualization. Second-level nodes [now have numbers on their labels](https://i

[2017-12-16 23:08] dlumbrer commented on #49
Hi @NeonSludge,

You are right, I'm going to fix this bug, sorry for the inconvenience.

[2017-12-16 23:47] omarix commented on #47
Thank very much

[2017-12-18 10:14] #49 closed

[2017-12-18 10:16] dlumbrer commented on #49
Updated release

[2017-12-18 13:44] NeonSludge commented on #49
Can confirm, this fixes the problem.
Thank you again.

[2017-12-26 15:28] Amsi90 opened #50 "not correctly displayed on Kibana 6.1.1"
hello.
not correctly displayed on Kibana 6.1.1
![2017-12-26_1826](https://user-images.githubusercontent.com/34863675/34359621-88d87752-ea6a-11e7-8834-652d8a30da0e.png)

[2017-12-29 10:48] dlumbrer commented on #50
Did you download the release for Kibana 6.x?

[2018-01-05 21:31] ismouton opened #51 "Crash in Kibana 5.6.6"
![screenshot from 2018-01-05 16-26-09](https://user-images.githubusercontent.com/8195785/34629358-d5a5ab40-f235-11e7-876d-6b45d663b405.png)
I am getting this error.

[2018-01-09 18:21] ranayayas commented on #46
Tks. It's working now

[2018-01-09 18:21] #46 closed

[2018-01-12 08:05] xycloud opened #52 "please add feature for exporting the svg image"

[2018-01-22 15:09] #51 closed

[2018-01-25 22:59] anthonyleonard commented on #43
+1 :)

[2018-02-12 11:19] dlumbrer commented on #52
You can download the image of the current network clicking it with the rigth button

[2018-02-15 16:41] omnidepp opened #53 "Simple install as plugin"
Would it be possible to provide the releases of this awesome tool as a kibana-compatible plugin "out of the box"?

Especially for docker deployments it would be awesome to just use

`RUN kibana-plugin install https://github.com/dlumbrer/kbn_network....zip`

[2018-02-15 17:44] omnidepp commented on #53
Never mind ...it actually is as simple as this:

Install plugin in Dockerfile:
`RUN curl -L https://github.com/dlumbrer/kbn_network/releases/download/6.0.X-1/network_vis.tar.gz | tar xz -C /usr/share/kibana/plugins`

[2018-02-15 17:44] #53 closed

[2018-05-08 00:50] zqc0512 opened #55 "a quesiton . is this plugin support offline install?"
a quesiton . is this plugin support offline install?
i have a machine can't connect to the internet  how can install this plugin as offline?
as elastic x-pack  plugin  ./kibana-plugin install file:///xxx.zip?
is't support?

[2018-05-08 01:04] zqc0512 commented on #55
i see the doc. find it sorry.

[2018-05-08 01:04] #55 closed

[2018-06-14 08:38] gjelenc opened #56 "Kibana 6.3.0"
Not working with Kibana 6.3.0.
Error log: [kibana_6.3.0.log](https://github.com/dlumbrer/kbn_network/files/2101475/kibana_6.3.0.log)

[2018-06-14 11:16] dlumbrer commented on #56
During this and next week I will update all my plugins to Kibana 6.3.

Thx!!

[2018-06-24 17:10] dlumbrer commented on #56
Done in faf6179 :+1:

[2018-06-24 17:10] #56 closed

[2018-06-29 02:28] shishircc opened #57 "When installing on kibana 6.1 the plugin breaks"
I get following error on trying to install this plugin in kibana 6.1

_schemas.Schemas is not a constructor at Object.""networkvistypeprovider""

What could be the issue ?

[2018-06-29 07:03] NeonSludge opened #58 "Missing relations between nodes"
There is an issue with displaying relations between nodes in the latest plugin version for Kibana 6.

Kibana version: 6.3.0.
Plugin version: installed from the `6-dev` branch (commit faf6179).

Steps to reproduce:

1. Create a Node-Node or Node-Relation network.
2. Relations between nodes are missing even if the nodes are definitely related.

Here is an example where the network was supposed to sh

[2018-06-29 12:37] dlumbrer commented on #57
I will add a version for Kibana 6.3 and other for Kibana 6.2 or lower.

During this weekend I will do it. If you want to install it now, please download the version of this commit: aeffc7c0015757765554126948e4d7724cf4b592

[2018-06-29 12:38] dlumbrer commented on #58
I have to review it this weekend, thanks

[2018-07-01 14:03] dlumbrer commented on #58
Fixed!

[2018-07-01 14:03] #58 closed

[2018-07-01 14:16] dlumbrer commented on #57
Fixed, I prepared a new branch for Kibana 6.0, 6.1 and 6.2: `6.2-dev`

I updated the README.md adding new instructions.

The release for Kibana 6.0 6.1 and 6.2 is https://github.com/dlumbrer/kbn_network/releases/tag/6.0.X-2

[2018-07-01 14:16] #57 closed

[2018-07-01 19:44] NeonSludge commented on #58
Can confirm, the latest release works fine.
Thank you!

[2018-08-02 10:26] varmatangoit opened #59 "In kibana every auto refresh network garph is changing its alignment"
Hi
   I create this chart in kibana its looks good, but when auto-refresh is turned on or by manual refresh network graph node alignment is changed. Is there any way to have fixed alignment

[2018-09-09 22:50] jarpy opened #60 "Release tarball file extension differs from compression type."
The latest release tarball has a `.gz` extension, but it's actually compressed with `xz`.

[code]

It would be nice to change either the extension or the compression type so that they match.

If sticking with `xz`, it might be good to put an example `tar` command in the README too, since not all users are familiar with the `-J` flag.

Cheers.

[2018-09-19 05:37] Desakumaran opened #61 "Fixed Nodes based on position X and Y (enhancement)"
Vis Js supports this storing and getting node positions, i am trying like [http://jsfiddle.net/Desa/kuqgh53j/](url) node to be fixed, is it possible in this kibana plugin..

[2018-11-22 08:00] gjelenc opened #62 "Not working with Kibana 6.5.X"
I did the reinstall of plugin and doesn't help.
Also optimize is not showing kbn_network plugin

`{"type":"log","@timestamp":"2018-11-22T07:36:40Z","tags":["info","optimize"],"pid":1,"message":"Optimizing and caching bundles for ml, stateSessionStorageRedirect, status_page, timelion, graph, monitoring, space_selector, login, logout, dashboardViewer, apm, canvas, infra and kibana. This may take a f

[2018-11-23 11:15] dlumbrer commented on #62
I'm going to work on this! Thanks for the notice!

[2018-11-23 12:56] gjelenc commented on #62
Maybe this help's you: https://www.elastic.co/blog/kibana-plugin-api-changes-in-6-5

[2018-11-29 08:56] gjelenc commented on #62
Any progress on issue ?

[2018-12-04 20:47] anthonyleonard commented on #62
Try the following at the command prompt while kibana is stopped, then start it up again:

export NODE_OPTIONS="--max-old-space-size=5000"

[2018-12-05 06:47] gjelenc commented on #62
If I set this option, I will get this error:
/usr/share/kibana/bin/../node/bin/node: "--max-old-space-size=5000" is not supported in NODE_OPTIONS

[2018-12-14 15:39] syunusic commented on #62
Same problem here.
+1

[2019-01-03 04:41] Tarik-H commented on #62
Is it working with kibana 6.5.4? When I issue npm install I no longer can start Kibana !

[2019-01-04 19:40] syunusic commented on #62
as Jan 4th 2019, this plugin is not working in 6.5.2, so I guess (pretty sure) won't work on 6.5.4.
BUT... I don't think this makes Kibana not starting. When I Upgrade from 6.4.x to 6.5.x it took a very long time to start Kibana, due some optimization processes.
Botom line: this plugin won't work, but won't be the reason Kibana is not working.

[2019-01-05 00:58] dlumbrer commented on #62
@syunusic is right.

Next week I'm going to update the plugin (and the others) to the Kibana 6.5.X versions.

[2019-01-06 19:37] dlumbrer commented on #62
The plugin now supports 6.5.X version!!! (tested on 6.5.4)

In releases there are the binares and the source code:
- https://github.com/dlumbrer/kbn_network/releases/tag/6.5.X-1

Sorry for the long wait and thanks for the support!

[2019-01-06 19:37] #62 closed

[2019-01-06 19:38] #50 closed

[2019-01-06 19:38] #52 closed

[2019-01-06 19:38] dlumbrer commented on #25
Clicking on the right button of the mouse you can download the network as a PNG image

[2019-01-06 19:38] #25 closed

[2019-01-06 19:38] #35 closed

[2019-01-06 19:39] #39 closed

[2019-01-06 19:39] #41 closed

[2019-01-06 19:39] #44 closed

[2019-01-06 19:40] dlumbrer commented on #60
Fixed, forgot to close this issue thanks!

[2019-01-06 19:40] #60 closed

[2019-01-07 20:02] Tarik-H opened #64 "How to visualize additional information between 2 nodes?"
I apologize for this newbie question: Is it possible to visualize additional data on the Edges ? for example in a relationship between two nodes (ip addresses) is it possible to see the protocol port number as well?

[2019-01-09 14:54] mattcopas opened #65 "6.3.X-2 release gives a 404 and archived version doesn't work, please help"
6.3.X-1 and 6.3.X-2 no longer work.

Up until today I've been using 6.3.X-2 via the url `https://github.com/dlumbrer/kbn_network/releases/download/6.3.X-2/network_vis-6.tar.gz` however this now gives a 404.

Using the archived versions `https://github.com/dlumbrer/kbn_network/archive/6.3.X-1.tar.gz` I get an error, as below. I've tried 6.3.X-1 and X-2.

The only thing I can think of that would cau

[2019-01-24 04:36] njdonarski opened #66 "No Map loading in visualizer"
The plugin sits at the same unloaded image

![loading_net](https://user-images.githubusercontent.com/30577973/51654825-49155600-1f5f-11e9-95af-d5daeeb371cf.JPG)

[2019-01-24 09:55] dlumbrer commented on #66
Thats strange, what version of the plugin and kibana are you running?

[2019-01-24 09:56] dlumbrer commented on #64
Hi @Tarik-H ,

There is an USER_GUIDE.md file with the steps in order to show different info with the plugin, please take a look and tell me if that is enough.

Thanks

[2019-01-24 09:56] #64 closed

[2019-02-06 20:47] vistalba opened #67 "After install plungin kibana 6.6.0 won't start anymore"
Hi

I just installed the plugin from the zip file for >6.5
I run into the following issue:

[code]

Any ideas what's wrong on my installation? :(

[2019-02-06 20:57] dlumbrer commented on #67
Mmmm, it seems that sth changes in the new Kibana, I have to work on this then.

I will upload a new release when done, thanks!

[2019-02-12 18:42] carolineLe commented on #67
Hi,
I wrote the following patch to get 6.5 version working on my kibana 6.6.
To use it:

    unzip ~/Downloads/network_vis-6-5.zip
    patch -p0 network_vis/public/network_vis.js kbn_network.patch

I'm sorry I didn't do a PR, but the code in master in different from the released code and I'm really not familiar with JS.
I hope this helps.

[2019-02-14 15:53] timoSwalter commented on #66
I'm having the same Issue.
I'm running Kibana 6.4.2 and used a fresh installation from the network_vis-6.tar.gz file

[2019-02-14 20:49] wikedeye commented on #67
I tried installing this plugin and now kibana fails to start.  Is there anything that you can suggest to fix this issue?  I tried uninstalling the plugin, but that did not help.

[code]

[2019-02-15 12:57] marcleibold opened #68 "Load the visualisation with own JSON data"
Hi,

I am currently trying to feed my own data which is the output of a python script i wrote into your plugin.
I already tried to do it via curl and just overwrite the visualisation in the .kibana index but I just can't get the formatting right, so that the vis shows a graph according to my JSON input.
The JSON input only contains 2 lists (edges and nodes), just like the format some of your examp

[2019-04-02 08:25] joost2 commented on #66
Same here with Kibana 6.5.4 & the latest version of the plugin.

[2019-04-03 12:31] dlumbrer commented on #68
Hi,

Visualizations of Kibana uses ES aggregation, so you need to understand how it works in order to make graphs.

It is impossible to use the plugin just with normal JSON. I recommend you to use the library vis.js instead

Thanks

[2019-04-03 12:31] #68 closed

[2019-04-03 12:32] dlumbrer commented on #67
I'm a little bit busy right now, does anyone can do a PR to the `6-dev` branch with this patch?

Thanks to all

[2019-04-05 09:21] enVolt commented on #67
Faced the same issue. Here is the PR -

https://github.com/dlumbrer/kbn_network/pull/69

[2019-04-05 13:26] joost2 commented on #66
Let me know if you need any information/output from my installation.

[2019-04-05 13:28] dlumbrer commented on #66
I have to prepare another release, could you try to use the version from the source code of the 6-dev branch?

[2019-04-05 13:50] joost2 commented on #66
I just tried it, but it remains stuck with "Loading network..." in the top right corner of the screen.

[2019-04-05 20:22] dlumbrer commented on #66
I tried the version from 6-dev and it works... could you send me a picture with the aggregations menu (maybe it does not admits some fields)

[2019-04-08 06:09] mudit94 opened #70 "unable to view the files in developer tool"
Hi , I am unable to view the files in the developer tools option of chrome . Please suggest a way to debug this.

[2019-04-08 08:34] dlumbrer commented on #70
But that is normal, it depends on your Kibana, if you are using the "product" you are unable to debug anything, if you use the dev version you will see all the files (including the plugins files)

[2019-04-08 08:34] #70 closed

[2019-04-08 08:48] dlumbrer commented on #67
Release done: https://github.com/dlumbrer/kbn_network/releases/tag/6.6.X-1

Sorry for the late

[2019-04-08 08:48] #67 closed

[2019-04-08 08:51] #66 closed

[2019-05-06 15:45] joost2 commented on #66
Sorry for not getting back on this earlier - I got this to work again whilst troubleshooting another Kibana plugin, which was spitting out errors related to read-only file permissions. After doing a "chown -R kibana.kibana /usr/share/kibana/" the problematic plugin started to work... and so did the kbn_network plugin!

[2019-05-21 13:23] fpompermaier opened #71 "Compatibility with Kibana 7.x"
Any plan to support Kibana 7.x?

[2019-05-21 19:25] dlumbrer commented on #71
Yes, but I don't know when it will be done!

[2019-06-04 20:23] craig-cogdill commented on #71
I have only done testing of basic node/relation functionality, but the latest `6-dev` branch appears to work just fine. This is using ES and Kibana 7.1.1 for Mac with default configuration.

[2019-07-01 06:50] gyterpena commented on #71
Looks like upgrade to 7.2.0 broke it. Visualization is stuck on "Loading" message. I could not find any helpful logs in kibana.log or cluster logs.
![image](https://user-images.githubusercontent.com/39734663/60416062-30c7f800-9bdd-11e9-9630-b481816a715b.png)

[2019-08-21 21:01] dmueller2001 commented on #26
any update on when this new color selection feature will land?

[2019-08-27 15:45] YoullNeverSee commented on #71
Got the same at 7.3.0
But no hint where to look for the breaking changes!
Agreed 7.1.1 works so far!
But best @6.7.2 as last Build

Please Add Support for 7th Series

Thanks and Brdgs

[2019-09-04 08:54] dlumbrer commented on #26
Sorry, I didn't have time to do this :(. I don't expect to have it soon cause the upgrade to Kibana 7 has more priority.

Thanks for the understanding

[2019-09-04 08:55] dlumbrer commented on #71
The plugin has not a version for Kibana 7 for now. It is my highest priority task.

Thanks for the understanding

[2019-09-08 14:32] clockworkgr opened #72 "Compatibility with Kibana 6.7.1 ?"
Which plugin should I use? (if any)

[2019-10-11 17:47] GeorgLink opened #73 "Port Network Visualization to Open Distro"
This issue is an idea for the Open Distro Hack Day at All Things Open on October 14.

The network visualization has been featured in [recent presentations](https://blog.openshift.com/wp-content/uploads/OpenShift-Commons-Gathering-Boston-Making-Collaboration-That-Works-Diane-Mueller.pdf) and is a helpful tool to exploring relationships in data.

The idea is to port this visualization to Open Distro

[2019-10-13 12:03] valeriocos commented on #73
related to https://github.com/chaoss/grimoirelab/issues/219

[2019-10-30 11:53] rharilogstash opened #74 "How to pass data to kibana and how to create kibana visualization"
Dears

I am trying to use Kibana Network plugin for below use case,

Show nodes and show relation between them based on node port utilization.

For example I have node1 with p1 port and node2 with p2 port
I understand I can send below data to elastic search

nodename, port name, port utilization metric

How can I choose Buckets and Relation in kibana, please advise.

[2019-10-30 17:04] Tarik-H commented on #74
The data should already be in your ES, after installing the KBN plugin you should be able to visualize it
https://github.com/dlumbrer/kbn_network/blob/master/USER_GUIDE.md

[2019-11-07 18:27] Tarik-H commented on #71
Will there be any update to support 7.x?
Thanks

[2019-11-21 16:07] syunusic commented on #71
Please!!!! Support for 7.4.x!!!!

[2019-11-25 18:32] jerome83136 opened #75 "Feature request: directionnal edge based on @timestamp"
Hello,

I'm using this great plugin to trace some data stream accross multiple APIs

I wonder if there is a way to base directionnal edges on the @timestamp field ?

Thank you for your great work :)

Best regards

[2019-11-27 16:14] toog opened #76 "Bug on firefox not in Chrome : graph constantly move"
Hello
On dashboard mode (not on editing mode), in Firefox (last version), no bug with Chrome, with the spring mode, the graph result is constantly moving.

I use the version 6.5.4 of kibana and the 6.5.X-2 version of the plugin.

[2019-11-28 15:47] jerome83136 commented on #76
Hi,
I have the same problem.
Regards

[2019-12-13 23:03] dkngyn commented on #71
`visData` has changed  since 7.2, `columns` no longer includes `AggConfig`
Happy to take this issue and open a PR.

[2019-12-13 23:31] dlumbrer commented on #71
Go for it! :smile:

[2019-12-17 20:58] dlumbrer commented on #71
Nice work @dkngyn , I commented on the PR, thanks

[2019-12-18 18:13] syunusic commented on #71
Should it work with:
[code]
?
That last change was only for 7.2? Should it work on 7.4?

[2019-12-18 19:18] danJsonar commented on #71
@syunusic these are complied codes it should work right away. I've not tested on 7.4 but I know it doesn't on work on 7.5 because the schemas change again, with somewhat confidence I think the 7.4 still has the same schemas as 7.2.

[2019-12-18 19:19] dkngyn commented on #71
@syunusic these are complied codes it should work right away. I've not tested on 7.4 but I know it doesn't on work on 7.5 because the schemas change again, with somewhat confidence I think the 7.4 still has the same schemas as 7.2.

[2019-12-18 21:25] syunusic commented on #71
@dkngyn What I did is:
[code]
I did the same with the "main" (without the "-b" option). Same result.. not working. It stays in "loading". Do I have to do anything else?

[2019-12-20 06:07] dkngyn commented on #71
@syunusic it looks right, you can confirm the branch you've checked out by `$ git branch` on when you're in `network_vis` dir. You can also look for [this part of code](https://github.com/dlumbrer/kbn_network/blob/7-dev/public/network_vis_controller.js#L69-L97) exists.

If it still doesn't work. Could you post your browser console error message?

[2019-12-20 15:50] syunusic commented on #71
@dkngyn :
[code]

I look at the code you say and it is exactly the same.
Here is the console error:
[code]

[2019-12-26 17:07] syunusic commented on #71
Should I do anything to fix the problem in 7.4?

[2019-12-27 23:46] dkngyn commented on #71
@syunusic it seems like you have the browser cache still, because the `7-dev` code doesn't have any `.schema` property. If cleaning your browser cache doesn't solve this issue then please pm me.

[2019-12-28 01:42] syunusic commented on #71
@dkngyn you was right. I'm using Kibana with Docker (docker-compose) and I had to destroy the project and re create it. After that, works perfectly. Gracias!

[2020-01-21 17:26] jerome83136 commented on #75
bump

[2020-01-24 16:23] fpompermaier commented on #71
In my Kibana 7.5 the 7-dev branch gives the following error:

` Error: Optimizations failure.\n   8329 modules\n    \n    ERROR in ./plugins/network_vis/public/network_vis.js\n    Module not found: Error: Can't resolve 'ui/registry/vis_types' in '/usr/share/kibana/plugins/network_vis/public'\n\n    at FsOptimizer.failedStatsToError (/usr/share/kibana/src/optimize/base_optimizer.js:440:26)\n    at

[2020-01-25 00:25] mejarrett commented on #71
The 7-dev branch still had two bugs that prevented @craig-cogdill and I from using it out of the box. I've put up this PR, tested with Kibana 7.2: https://github.com/dlumbrer/kbn_network/pull/78

[2020-01-25 00:31] coryk2049 commented on #71
Confirmed to be working with 7.4.2. Hope some kind person will make it work for 7.5.x soon.

[2020-01-25 00:33] mejarrett commented on #71
@fpompermaier This plugin isn't compatible with Kibana 7.5 yet. From this [PR](https://github.com/elastic/kibana/pull/46323) it looks like that the import of vis_types needs to be updated for 7.5, and the comments in this thread regarding schema changes likely need to be addressed.

[2020-01-29 05:02] dkngyn commented on #71
@fpompermaier I did confirm this change doesn't work on v7.5 as in my previous comment.

[2020-02-18 13:55] grinbin commented on #76
Hello
I'm also experiencing this on Firefox 72.0.2

[2020-02-25 23:31] mejarrett commented on #71
I put up this [PR](https://github.com/dlumbrer/kbn_network/pull/79) for 7.5.x compatibility. I've done testing with Kibana 7.5.0, 7.5.1, and 7.5.2 on Mac.

[2020-02-27 10:09] piellick opened #80 "6.8.X will be so cool !"
Someone allready test ?

[2020-02-29 09:35] rizalsng commented on #80
it works

[2020-03-02 19:50] dlumbrer commented on #80
There is a release for that version, thanks

[2020-03-02 19:50] #80 closed

[2020-03-02 19:51] dlumbrer commented on #72
There is a version in releases, thanks!

[2020-03-02 19:51] #72 closed

[2020-03-02 20:01] dlumbrer commented on #71
Sorry for the delay, these months have been complicated. I just updated the releases and the branches, thanks :)

[2020-03-02 20:01] #71 closed

[2020-03-06 07:53] ankitagarwal10k opened #81 "Kibana fails to start when using the Network Plugin"
Hi,

I tried using the Kibana network plugin on my Ubuntu 18 version by downloading the latest version of the network plugin tar.gz file as the Kibana version on my system is 7.6
But when I start the Kibana service - it fails with the below mentioned error in the logs:

**> FATAL  Error: Optimizations failure.

Below is the details of package.json file

**> {

And below is the content in the netwo

[2020-03-06 08:15] dlumbrer commented on #81
Could you try using the code from the `7-dev` branch? thanks!

[2020-03-06 08:19] ankitagarwal10k commented on #81
I tried with that as well and still got the same issue.
Is there any kind of changes which I am supposed to do in the files?
I even tried by the git clone way of installing the plugin but unlucky

[2020-03-06 15:57] StuartSmith21 commented on #81
I've also tried running the 7-dev release (and tried the git clone method) with the same error. Running on Windows 10, Kibana 7.6.0.

` FATAL  Error: Optimizations failure.
   9267 modules
    ERROR in ./plugins/network_vis/public/network_vis.js
    Module not found: Error: Can't resolve 'ui/vis/vis_factory' in 'C:\kibana-7.6.0-windows-x86_64\kibana-7.6.0-windows-x86_64\plugins\network_vis\public'

[2020-03-12 16:07] StanGirard commented on #81
Got the same error with docker.
ELK_VERSION=7.6.0
[code]

[code]

[2020-03-13 08:05] ankitagarwal10k commented on #81
@dlumbrer
Any update if we could get a fix for it ?
As I have to use it for one of the project requirement and can only be worked with the Network Plugin.
Please respond ASAP.

Thanks,
Ankit Agarwal

[2020-03-17 14:38] grinbin commented on #43
+1

[2020-03-19 18:17] coryk2049 opened #82 "Kibana 7.5.2 fails to generate Reports with Network Plugin"
We have a standalone (no proxies) Elastic and Kibana 7.5.2 deployed in RHEL 7.X, and Network 7.5.2 plugin is working as expected.

However, when you try to Share any Dashboard with Network Plugin Visualization object as PDF / PNG Reports in Chrome browser, after 3 attempts it fails with error "Unable to generate report" in Management > Kibana > Reporting.

Our Kibana config:

[..]
xpack.reporting.

[2020-03-24 15:47] pchakour opened #83 "Support for kibana 7.6.X"
Hello everyone :)

I make the migration of the plugin for kibana 7.6.X. Feel free to use it or not.
This is the zip containing the patch : [kbn_network_7.6.X.zip](https://github.com/dlumbrer/kbn_network/files/4376228/kbn_network_7.6.X.zip)

The patch include:
  - The migration for kibana 7.6.X
  - Remove the background option to have the dashboard background (usefull to switch between light and da

[2020-03-26 17:24] ranayayas commented on #83
Hi ,

tks for the patch. I try to implement it, however not sure if I do the right way.
Is the clone etc is performed in home folder or kibana folder?
Can you give example of the command being used especially for the yarn

Tks

[2020-03-26 19:07] pchakour commented on #83
Hi,

you have to clone the repository in the **plugins** directory that you can found in the **kibana** folder.
If the **plugins** directory doesn't exist, create it...

This is the list of command to do, inside the plugins directory:
- `git clone https://github.com/dlumbrer/kbn_network.git`
- `cd kbn_network`
- `git checkout a4a1cdb`
- `git am --signoff -k < PATCH_PATH`
- `yarn install`

[2020-03-27 08:26] ranayayas commented on #83
It works, tks.
In my case, I have to do
`yarn --ignore-engines install `

[2020-04-02 17:41] robinkiplangat commented on #81
Hey @ankitagarwal10k , @StanGirard , @StuartSmith21 , did you get a work around this issue?

Working with a PATCH on #83  fixed it for me. [Try this !](https://github.com/dlumbrer/kbn_network/issues/83)

[2020-04-03 08:03] ankitagarwal10k commented on #81
I tried the patch on the windows system but after the checkout step nothing worked for me.

[2020-04-12 19:49] Tarik-H opened #84 "Request: Add node color to popup and labels"
Hi,
Since the plugin doesn't support yet three-node relationship, could you please add node color to the labels and edge popup?
Thank you

[2020-04-18 01:23] maintain3r commented on #76
Hi, same for me

[2020-04-18 01:26] maintain3r commented on #83
Hi pchakour,
I try to use it with Kibana 7.6.2 and Elastiflow 4-beta-1 and it fails. The patch proposed above works with only when kibana-7.6.2 + elastiflow-3.5.2.
Thank you.

[2020-04-18 14:31] pchakour commented on #81
It's weird ! May be we can help you with the patch installation. After the checkout step you have to apply the patch with the git command.

Did you have an error with this step ? Could you give us more details ?

[2020-04-24 14:58] Malwar3Ninja commented on #83
Any update on this? Is the updated version released for 7.6.2 ?

[2020-05-13 12:37] cpiment commented on #83
Thanks for your patch! I tried it and almost got me there, but I had to modify the package.json to make it work in Kibana 7.6.2

[code]
I removed the "kibana" node of the package.json and updated the vis-data version to 6.5.1. With this changes I did an `npm install` instead of `yarn install` and zipped the plugin and installed it with `kibana-plugin install`.

@dlumbrer do you want a PR with this

[2020-05-13 18:28] dlumbrer commented on #83
That would be awesome! Please, submit a PR to the `7-dev` branch

[2020-05-14 06:53] cpiment commented on #83
Submitted #85

[2020-05-18 14:40] Tarik-H commented on #84
Any update on this please?

[2020-06-03 17:22] StuartSmith21 commented on #43
+1

[2020-06-15 14:01] ulasyuksel1979 opened #86 "kbn_network ELK 7.7.0 support"
After upgrade kibana version 7.7.0 we are having problem with the given error messages.  It seems one of visiualization library has been removed from Kibana.

Jun 15 16:51:20 ismlakbnlx03 kibana: {"type":"log","@timestamp":"2020-06-15T13:51:20Z","tags":["info","plugins","siem"],"pid":122413,"message":"Stopping plugin"}
Jun 15 16:51:20 ismlakbnlx03 kibana: FATAL  Error: Optimizations failure.
Jun 1

[2020-06-15 14:25] ulasyuksel1979 commented on #86
Sorry for missing explanation, We have applied kbn_network 7.6.2 patch and everything was working. New issue is related with 7.7.0.

[2020-06-23 20:19] dcvtruong opened #87 "Installing plugin real-time question."
Kibana 7.4 is already running.  Is the installing kibana plugin real-time supported? I was not able to find any infos.

[2020-07-07 02:47] Tarik-H commented on #87
You may need to restart Kibana after finishing the plugin installation

[2020-07-17 11:26] grinbin commented on #10
Is there any update on this request?

[2020-07-22 21:39] kerrias opened #88 "npm install fails"
Hello,

I am trying to install plugin version 7-dev on kibana version 7.5.0.  I get the following when I do npm install:

npm ERR! peerinvalid The package vis-util does not satisfy its siblings' peerDependencies requirements!
npm ERR! peerinvalid Peer vis-network@7.2.0 wants vis-util@^1.1.8
npm ERR! peerinvalid Peer vis-data@6.6.1 wants vis-util@^4.0.0

npm ERR! System Linux 5.3.0-1032-azure
npm E

[2020-07-31 04:29] Just-Insane opened #89 "ELK 7.8.1 support"
Support for Kibana 7.8.1?

Tried the workarounds mentioned here: https://github.com/dlumbrer/kbn_network/issues/83#issuecomment-627953888

However when trying to kibana-plugin install, get the following error:

[code]

[2020-08-04 13:30] reetahan opened #90 "Issue with creating cross-row relationship with plugin, and"
For reference, I have tried the 7.5+ version of the plugin with Kibana 7.5.2 (and 7.5.0,7.8.0), along with the 7.0-7.4 version of the plugin with Kibana 7.0.0 (and 7.4.0).

I have an index pattern formed by a simple CSV as follows:

[code]

My goal is to form a graph with the edges connecting the nodes representing the 1 from column A to the 1 in column B and 2 column B, and the 2 in column A to t

[2020-08-13 11:19] maraimm commented on #59
Hi @dlumbrer,
I have the same issue with Kibana 7.3.0. The visualization can be added to the dashboard, but only the nodes are displayed without edges.

Thank you

[2020-08-24 07:36] dexter299792458 commented on #89
I fix this by unzipping the network_vis.zip to a folder named kibana and zip the kibana folder.  Make use you do this on Linux for some reason the plugin does not work if you use Windows.

The installation will succeed but did not get the plugin working yet.

I don't have any error messages in Kibana but the plugin does not show up  in the list of visualizations.

Any suggestions on why it doesn't

[2020-08-31 10:17] dineshmickey opened #91 "Some installed third party plugin(s) [network_vis] are using the legacy plugin format and will no longer work"
{"type":"log","@timestamp":"2020-08-31T09:58:13Z","tags":["warning","legacy-service"],"pid":21485,"message":"`Some installed third party plugin(s) [network_vis] are using the legacy plugin format and will no longer work in a future Kibana release. Please refer to https://ela.st/kibana-breaking-changes-8-0 for a list of breaking changes and https://ela.st/kibana-platform-migration for documentation

[2020-09-02 11:24] NailBash opened #92 "Issue with 'npm install'"
Hello, I tried to install this plugin according to this steps:
![изображение](https://user-images.githubusercontent.com/29750691/91975021-2bfa5900-ed38-11ea-85cc-8d4ee76f3806.png)
But when I tried execute 'npm install' I recieved next errors:
![изображение](https://user-images.githubusercontent.com/29750691/91975237-84c9f180-ed38-11ea-915a-7f57c36e9f45.png)
My Kibana is 7.8 version

[2020-09-24 10:11] new0ne commented on #91
Sadly, I am experiencing the very same problem.

Version info:
kibana 7.9.1
elasticsearch 7.9.1

[2020-10-07 18:39] lorenzo95 commented on #89
This is on 7.8.0. I don't think some of the imports exist in this version

Oct  7 12:26:44 es-kibana1 kibana[183163]:  FATAL  Error: Optimizations failure.
Oct  7 12:26:44 es-kibana1 kibana[183163]:    3856 modules
Oct  7 12:26:44 es-kibana1 kibana[183163]:
Oct  7 12:26:44 es-kibana1 kibana[183163]:     #033[1m#033[31mERROR in ./plugins/network_vis/public/network_vis.js
Oct  7 12:26:44 es-kibana1

[2020-10-20 11:26] gyterpena commented on #92
Try installing latest version of npm

#centos 7
https://linuxize.com/post/how-to-install-node-js-on-centos-7/

[2020-12-17 18:34] coryk2049 opened #93 "Support for Kibana 7.10.x"
Hello,

Followed the instructions from here:

https://github.com/dlumbrer/kbn_network

and no joy, details of the errors below:

`[<KIBANA_HOME>/bin]# ./kibana-plugin --allow-root install file:///home/ec2-user/kibana_plugins/kbn_network.tgz
Found previous install attempt. Deleting...
Attempting to transfer from file:///home/ec2-user/kibana_plugins/kbn_network.tgz
Transferring 27818147 bytes.......

[2021-01-30 20:00] dlumbrer commented on #93
The support for Kibana 7.10.0 is now available at "releases" section

[2021-01-30 20:00] #93 closed, assigned to nobody

[2021-03-31 09:43] diagnostikon commented on #91
Same problem
Version info
Kibana v 7.12.0
Elasticsearch v 7.12.0

[2021-03-31 09:48] robcowart commented on #91
@diagnostikon did you try the `master` branch or the release for Kibana 7.10.0? If anything is going to work it is the latter.

[2021-03-31 10:01] diagnostikon commented on #91
My mistake

` FATAL  Error: Failed to initialize plugins:
        Plugin "kbnNetwork" is only compatible with Kibana version "7.10.0", but used Kibana version is "7.12.0". (incompatible-version, /home/eddie/kibana-7.12.0-linux-x86_64/plugins/network_vis/kibana.json)`

[2021-03-31 10:05] robcowart commented on #91
![image](https://user-images.githubusercontent.com/10326954/113127628-438bb880-9219-11eb-96ea-e66e439166ce.png)

[2021-03-31 10:10] diagnostikon commented on #91
My mistake, edited wrong json
` FATAL  Error: Invalid migration for type config. Property '7.12.0' cannot be greater than the current Kibana version '7.10.0'.`

[2021-03-31 10:16] diagnostikon commented on #91
All good and then

![nedladdning (62)](https://user-images.githubusercontent.com/17246180/113129181-e42ea800-921a-11eb-98be-0646045ed052.png)

[2021-04-15 11:49] julien-VFD commented on #91
Same problem for me.
_src_plugins_vis_default_editor_public__WEBPACK_IMPORTED_MODULE_2__.Schemas is not a constructor.

Any workaround?

[2021-05-26 16:01] yesnid opened #94 "7.12.1 Build?"
Any chance there is a pending 7.12.1 release of this plugin?

[2021-11-28 15:24] mareban opened #96 "Opensearch-dashboard"
Hello,

Any plan for opensearch-dashboard support please ?

Thanks for your help.

[2021-11-28 17:31] robcowart commented on #96
You need the branch `osd-1.0.0`... [https://github.com/dlumbrer/kbn_network/tree/osd-1.0.0](https://github.com/dlumbrer/kbn_network/tree/osd-1.0.0)

[2021-12-22 15:27] svdasein opened #97 "7.15+ support?"
Hi David

I see that elastic pretty dramatically changed how plugins work starting at 7.10.   The 7.10 branch you have does not work with 7.15.1 for sure, and I'm guessing it has a lot to do with the big list of breaking changes that happened starting at 7.10.  I looked at breaking changes for 7.16 - it looks like they've finally settled things down.  Do you think you may be getting back into this

[2021-12-22 15:43] pchakour opened #98 "Migration to Kibana 7.15 and 7.16"
Hello guys and @dlumbrer !

I'm working on the migration to Kibana 7.15 for now (next step will be 7.16).
The migration required to rework the whole code so I need some help to check if all features are migrated.

This is a build for Kibana 7.15.2 that you can install with the command ``kibana-plugin install``:
[kbnNetwork-7.15.2.zip](https://github.com/dlumbrer/kbn_network/files/7763600/kbnNetwor

[2021-12-22 15:51] pchakour commented on #97
Hi @svdasein  !

I've just opened an issue to get some help with the support of Kibana 7.15.
Don't hesitate to participate [here](https://github.com/dlumbrer/kbn_network/issues/98) :-)

Hope @dlumbrer will also participate !

[2022-01-04 14:06] mareban commented on #96
Hello and happy new year :-)

Is it possible to have a version for opensearch-dashboard 1.2.0 please ?

Thanks for your help

Plugin installation was unsuccessful due to error "No opensearch-dashboards plugins found in archive"

[2022-01-06 09:48] pchakour commented on #98
No one !? :-(

[2022-01-06 10:42] pchakour commented on #89
Need help guys: https://github.com/dlumbrer/kbn_network/issues/98

[2022-01-06 10:42] pchakour commented on #94
Need help guys: https://github.com/dlumbrer/kbn_network/issues/98

[2022-01-06 10:42] pchakour commented on #86
Need help guys: https://github.com/dlumbrer/kbn_network/issues/98

[2022-01-06 10:53] robcowart commented on #98
@pchakour those of us that watch this repository do not appreciate you posting unnecessarily in multiple issues trying to get attention to your issue. The resulting multiple notification emails are just going to irritate people. That isn't the best way to get help.

[2022-01-06 11:03] pchakour commented on #98
Sorry for that ! I was not aware of the impact of my posting. I will don't do it again.

[2022-01-08 20:14] mareban commented on #96
We've tried to modify package.json version attribute and opensearch can't find plugins !!

So without a solution for latest opensearch 1.2.3, we'll stay to Elasticsearch 7.6.1 :-( !

[2022-01-10 13:40] SebastianJust opened #99 "Plugin manifest for "kbnNetwork" must contain an " owner" property"
Hello,

When trying to run kibana after installing the plugin it says:

  __log   [14:33:37.108] [error][plugins-service] PluginDiscoveryError: Plugin manifest for "kbnNetwork" must contain an " owner" property, which includes a nested "name" property. (invalid-manifest....)__

**Solution:**

Added owner property to the kibana.json file:

{
  "id": "kbnNetwork",
  "version": "7.16.1",
  "server":

[2022-02-23 09:17] Foina commented on #46
Sorry may I ask where can I find a guide to install kibana and this plugin in docker

[2022-02-25 10:54] Foina opened #102 "legend of colors sometimes does not shown correctly"
I have two questions. First, in my work, the second node's color is not shown on the legend of colors. Second, I do not know why sometimes the first node color shown is incorrect. My node color is based on the relation type. I have two types, but sometimes it only show one type.

[2022-02-25 12:20] Foina commented on #102
I know what's wrong now. Because the second node does not show color in the legend when all the nodes are the second node the legend and colour will show in the wrong way. Is there a way to treat all the nodes as the first nodes?

[2022-02-25 12:39] Foina commented on #102
I am using the version release supports Kibana 7.0 to 7.4

[2022-03-25 09:03] #75 closed

[2022-04-15 13:02] scientia-ipsa opened #103 "Kibana 8+?"
Hi, I am looking for a plugin version to support Kibana 8+.
Thank you!

[2022-10-08 14:41] sduenas opened #108 "ReferenceError: sizeEdgeVal is not defined error on osd branch"
The latest version on the OSD branch doesn't allow to create node-relation networks. It raises the `ReferenceError` when drawing the relationships.

[code]

[2022-10-13 15:51] sduenas commented on #108
Error fixed. Thanks!

[2022-10-13 15:51] #108 closed, assigned to nobody